demo/
data/
models/
notebooks/
projects/
activetigger/log
log
Réflexions.md
.ipynb_checkpoints/
.s3cfg
activetigger/.ipynb_checkpoints/
dist/
tests/__pycache__/
activetigger/img/active_tigger2.png
*.DS_Store
log_server.log
config.yaml
add_users_processed.yaml
activetigger/frontend_deprecated.py
api/activetigger/__pycache__/
api/tests/__pycache__/
api/activetigger/html/custom.css
frontend/public/favicon_old.ico
frontend/src/assets/at_old.png
api/mlruns
site/
**/*.sql
.vscode
api/activetigger/db/__pycache__/
api/key.yaml
api/activetigger/generation/__pycache__/
api/activetigger/tasks/__pycache__/
**/__pycache__/


# DOCKER
docker/api/projects/
docker/api/venv/
docker/api/models/
docker/api/postgresql/

api/.env
