spacy=3.7.4
fastapi
requests
uvicorn
pyyaml
argparse
datasets
ipywidgets
IPython
numpy
pandas
pyarrow
scikit-learn
torch
transformers[torch]
sentence_transformers
typing-inspect
typing_extensions
pyyaml
protobuf
python-jose[cryptography]
bcrypt
plotly
matplotlib
sentencepiece
umap-learn
Jupyter
sacremoses
streamlit
streamlit_autorefresh
fasttext @ git+https://github.com/facebookresearch/fastText.git@main

https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0.tar.gz#egg=fr_core_news_sm
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz#egg=en_core_web_sm
