.annotation-mode {
  .selectors {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;

    > div {
      display: flex;
      flex-wrap: nowrap;
      gap: 1rem;
      align-items: flex-start;
      &.submit-container {
        align-self: center;
        // to align with labels
        margin-top: 10px;
      }

      .react-select {
        width: 300px;
      }
    }
  }
}

.annotation-frame {
  color: black;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;

  background-color: #f9f9f9;
  border: 1px solid $primary;
  border-radius: $border-radius;
  padding: 16px;
  box-shadow: 0px 0px 15px color(from $primary srgb r g b / 50%);
  max-width: 800px;

  white-space: pre-wrap;
  overflow-y: auto;
}

.text-out-context {
  color: $secondary;
  opacity: 0.7;
  font-style: italic;
}
