@use 'sass:map';

.annotation-mode {
  margin-top: map.get($spacers, 1);
  display: flex;
  flex-direction: row;
  @media (max-width: 1800px) {
    flex-direction: column;
  }
  row-gap: map.get($spacers, 2);

  .selectors {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: map.get($spacers, 5);
    @media (max-width: 1800px) {
      justify-content: space-between;
    }

    label {
      margin: 0;
    }

    > div {
      display: flex;
      flex-wrap: wrap;

      justify-content: flex-start;
      column-gap: map.get($spacers, 2);

      align-items: flex-start;

      .active-mode-button {
        padding: 3px 5px;
        display: flex;
        @extend .gap-1;

        align-items: center;
      }
      .react-select {
        width: 100%;
      }
      // TODO: replace by react-select styling technics once we switch default input styles back to bootstrap
      input,
      select {
        padding: 9px;
        margin: 0;
        line-height: initial;
      }

      .at-input-group:has(.react-select) {
        flex-grow: 1;
        //max-width: 300px;
        min-width: 250px;
        position: relative;
      }
      input {
        max-width: 45vw;
      }
    }
  }

  .submit-container {
    // @media (max-width: 1800px) {
    //   align-self: end;
    // }
    align-self: flex-end;
    display: flex;
    align-items: center;
    column-gap: map.get($spacers, 1);

    > * {
      height: fit-content;
    }
  }
}

// common style for Element text frame
.history-element,
.annotation-frame {
  color: black;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  border: 1px solid $primary;
  border-radius: $border-radius;
}

.annotation-frame {
  position: relative;
  white-space: pre-wrap;
  box-shadow: 0px 0px 15px color(from $primary srgb r g b / 50%);
  font-size: 16px;
  line-height: 1.6;

  padding: 16px;
  height: var(--height);

  flex-basis: var(--width);
  flex-shrink: 1;
  @include media-breakpoint-down(lg) {
    flex-basis: auto;
    width: 100%;
  }

  //max-width: var(--width);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .element-text {
    flex-grow: 1;
    overflow-y: auto;
    margin: 0;
  }
  dl {
    display: flex;
    flex-wrap: wrap;
    row-gap: map.get($spacers, 0);
    column-gap: map.get($spacers, 3);
    .dl-item {
      * {
        margin: 0;
      }
      @extend .gap-1;
      display: flex;
      dt:after {
        content: ':';
      }
    }
  }
}

.text-out-context {
  color: $secondary;
  opacity: 0.7;
  font-style: italic;
}

.annotation-history {
  $gapSize: map.get($spacers, 3);

  display: flex;

  flex-wrap: wrap;
  gap: $gapSize;

  position: relative;

  .history-element {
    @extend .p-2;
    width: calc(25% - (3 / 4 * $gapSize));
    @include media-breakpoint-down(xl) {
      width: calc(33% - (2 / 3 * $gapSize));
    }

    @include media-breakpoint-down(lg) {
      width: calc(50% - (1 / 2 * $gapSize));
    }
    @include media-breakpoint-down(sm) {
      width: calc(100%);
    }

    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    .badge {
      max-width: 100%;
      width: fit-content;
      margin: 0;
    }
  }
}

.annotation-block {
  display: flex;
  flex-direction: column;
  @extend .gap-3;
  @extend .my-3;
  justify-content: flex-start;
  position: relative;

  width: 100%;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    max-height: 90vh;
    position: relative;
  }
  overflow-y: no;
  > * {
    max-height: 100%;
    overflow-y: auto;
  }
}

.tag-action-container {
  --button-label-width: 25vh;
  @include media-breakpoint-down(lg) {
    --button-label-width: 10vh;
    flex-wrap: wrap;
  }

  display: flex;
  flex-shrink: 0;
  @extend .flex-lg-column;
  @extend .justify-content-center;
  @extend .justify-content-lg-start;

  @extend .gap-2;
  @extend .align-items-end;
  @extend .align-items-lg-start;

  .btn-annotate-general-action,
  .btn-annotate-predicted-action,
  .btn-annotate-action {
    margin: 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: white;

    height: fit-content;

    *:last-child,
    *:first-child {
      //icon & key stroke badge
      flex-shrink: 0;
    }
  }
  .btn-annotate-action {
    @extend .btn;
    @extend .btn-primary;
  }
  .btn-annotate-general-action {
    @extend .btn;
    @extend .btn-secondary;
    background-color: rgb(250, 153, 74);
  }

  .btn-annotate-predicted-action {
    @extend .btn;
    @extend .btn-info;

    background-color: $gray-500;
    border-color: $gray-500;

 
  }

  .tag-action-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .truncate-middle {
      width: var(--button-label-width);
    }
    .badge {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
  .no-tag-action {
    align-items: center;
    span.text {
      display: flex;
      align-items: center;
      flex-grow: 1;
      @extend .gap-1;
    }
  }
  .annotation-comment {
    width: 100%;
  }
}

.truncate-middle {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  text-align: start;

  flex-shrink: 1;
  flex-grow: 1;
  span {
    @extend .text-truncate;
    display: inline-block;
    max-width: 50%;
    white-space: preserve nowrap;
  }
  span:first-child {
    text-overflow: '..';
  }
  span:last-child {
    text-overflow: '..';
    direction: rtl;
    text-align: end;
  }
}
