@use 'sass:map';

.annotation-mode {
  .selectors {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;

    > div {
      display: flex;
      flex-wrap: nowrap;
      gap: 1rem;
      align-items: flex-start;
      &.submit-container {
        align-self: center;
        // to align with labels
        margin-top: 10px;
      }

      .react-select {
        width: 300px;
      }
    }
  }
}

// common style for Element text frame
.history-element,
.annotation-frame {
  color: black;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  border: 1px solid $primary;
  border-radius: $border-radius;
}

.annotation-frame {
  white-space: pre-wrap;
  box-shadow: 0px 0px 15px color(from $primary srgb r g b / 50%);
  font-size: 16px;
  line-height: 1.6;

  padding: 16px;
  max-width: 50vw;
  @include media-breakpoint-down(lg) {
    max-width: 100vw;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .element-text {
    flex-grow: 1;
    overflow-y: auto;
    margin: 0;
  }
  dl {
    display: flex;
    flex-wrap: wrap;
    row-gap: map.get($spacers, 0);
    column-gap: map.get($spacers, 3);
    .dl-item {
      * {
        margin: 0;
      }
      @extend .gap-1;
      display: flex;
      dt:after {
        content: ':';
      }
    }
  }
}

.text-out-context {
  color: $secondary;
  opacity: 0.7;
  font-style: italic;
}

.annotation-history {
  $gapSize: map.get($spacers, 3);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $gapSize;

  position: relative;

  .history-element {
    @extend .p-2;
    width: calc(25% - (3 / 4 * $gapSize));
    @include media-breakpoint-down(xl) {
      width: calc(33% - (2 / 3 * $gapSize));
    }

    @include media-breakpoint-down(lg) {
      width: calc(50% - (1 / 2 * $gapSize));
    }
    @include media-breakpoint-down(sm) {
      width: calc(100%);
    }

    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    .badge {
      max-width: 100%;
      width: fit-content;
      margin: 0;
    }
  }
}
