#codebook{
    width: 100%;
    min-width: 200px;
    max-height: 50hv;
    #header{
        background-color: $transparent;
        border: $primary 1px solid;
        border-radius: $border-radius $border-radius 0px 0px;

        height: 50px;
        padding: 5px;

        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    #edit-buttons-group{
        display: flex;
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            color: $primary;
        }
    }
    #content{
        height: 100%;
        max-height: calc(50vh - 50px); // compensate for the header
        border: $primary 1px solid;
        border-top: 0px;
        padding: 10px;
        overflow: auto;
        border-radius: 0px 0px $border-radius $border-radius;
    }
}