@for $nLabel from 1 through 100 {
  #DisplayTableStatistics-#{$nLabel}{
    $min-cell-width: 20px;
    $inter-table-margin: 10px;
    $grey: rgb(160, 160, 160);

    width: 80%;
    min-width: calc(($nLabel + 4) * $min-cell-width + 200px + $inter-table-margin);
    max-width: calc(($nLabel + 30) * $min-cell-width + 200px + $inter-table-margin);
    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
    font-size: 10px;
    
    // containers
    .row{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;

      width: 100%;
      margin: 0px;
      padding: 0px;
    }

    .main, .score-bottom{
      width: 80%;
      padding: 0px;
      margin-bottom: $inter-table-margin;
      margin-right: $inter-table-margin;
    }
    
    .table{
      width:70%;
      margin: 0px;
      padding:0px;
    }

    .score-left{
      width: 25%;
    }

    #truth-container{
      width:  $min-cell-width;
      margin:0px;
      padding:0px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-end;
      span{
        writing-mode:sideways-lr;
        // text-orientation: sideways;
        text-align: center;
        border-right:  $secondary 1px solid;
        max-width: fit-content;
        font-weight: bold;
      }
    }

    #horizontal-labels-container{
      width: 20%;
      margin:0px;
      padding:0px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-end;
    }

    // Table cells
    .table-cell{
      flex: 1 1 auto;
      min-width: $min-cell-width;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .label-name{
      font-weight: bold;
    }

    .recall{
      font-size: 8px;
      color: $grey;
    }

    .diag-cell{
      color: green;
      background: $tertiary;
    }

    .total-cell{
      font-style: italic;
      color: $grey;
    }

    .number-cell{
      font-size: 11px;
    }

    .label-column-left{
      align-items: flex-end;
    }
    
    .label-column-right{
      align-items: flex-start;
      min-width: 100px;
    }

    #overlay-label{
      border-bottom: $secondary 1px solid;
      min-width: calc(2 * $min-cell-width);
      font-weight: bold;
    }
  }
}

#tabualar-view-control-panel{
  div{
    flex: 1 1 auto;
    min-width: 200px;
    margin: 2px 5px;
    
    label{
      font-style: italic;
      color: $grey-color;
      font-size: smaller;
      padding-left: 2px;
    }
  }
  div.smaller{
    flex: 0 2 auto;
    min-width: 100px;
  }
}

#tabular-view-page-control{
  justify-content: end;
  div{
    display: flex;
    align-items: center;
    min-width: 50px;
    margin: 2px 5px;
    
    label{
      flex: 1 1 auto;
      min-width:fit-content;
      text-align: right;
      margin-right: 2px;
      font-style: italic;
      color: $grey-color;
      font-size: smaller;
      padding-left: 2px;
    }
    select{
      height: 35px;
      font-size: smaller;
      width: 70px;
    }
  }
}
