// At the element level
input, select, textarea{
    width: 100%;
    padding: 10px;
    margin: 2px 0px;

    background-color: white;
    border: $tertiary 1px solid;    
    border-radius: $border-radius;
}

input[type="checkbox"], input[type="radio"]{
    height:15px;
    width: 15px;
    margin-right: 6px;
  }

button{
    margin: 2px;
    border: 0px;
    border-radius: $border-radius;
    padding: 2px 10px;
    cursor: pointer;
}

button:hover{
    filter: brightness(1.8);
}
    
button:active {
    filter: brightness(5.0);
}

input::placeholder{
    color: $dark-grey-color;
    opacity: .5;
    font-style: italic;
}

table {
    margin: 10px 0px;
}

// Recurring elements
.btn-danger{
    background-color: $danger-color;
    color: white;
}

.btn-drop-dataset{
    margin: 0px 5px;
    font-size:medium;
    font-style: italic;
    background-color: $danger-color;
    color: white;
}

.alert{
    border: 1px rgb(251, 231, 165) solid;
    background-color: rgba(251, 231, 165, 0.5);
    color: rgb(98,78, 23);
    margin: 5px 0px;
}

.badge{
    border: 0px;
    border-radius: $border-radius;
    background-color: $light-grey-color;
    color: black;
    padding: 5px 10px;
    margin: 2px 5px;
}

.badge.info{
    background-color: $info-color;
}

.badge.danger{
    background-color: $danger-color;
}

.badge.hotkey{
    background-color: rgba(0,0,0,0.2);
}

.transparent-background{
    background-color: $transparent;
}

.btn-submit{
    font-size: larger;
    color: white;
    background-color: $primary;
    margin: 10px 0px;
    width: 100%;
}

.btn-submit-danger{
    font-size: larger;
    color: white;
    background-color: $danger-color;
    margin: 10px 0px;
    width: 100%;
}

.btn-primary-action{
    background-color: $primary;
    border: 2px solid $primary;
    color: white;
}

.btn-secondary-action{
    background-color: $transparent;
    border: 2px solid $secondary;
    color: $secondary;
}

.btn-annotate-action{
    background-color: $primary;
    color: white;
    padding: 5px 10px;
}

.btn-annotate-predicted-action{
    background-color: $secondary;
    color: white;
    padding: 5px 10px;
}

.btn-stop-process{
    background-color: $primary;
    border: 2px solid $primary;
    color: white;

    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#project-card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: $light-grey-color;
    border: 0px;
    border-radius: $border-radius;
    padding: 16px 20px;
    transition:
        background-color 0.2s,
        color 0.2s,
        box-shadow 0.2s;
    cursor: pointer;

    .clickable-zone{
        .projecttitle {
            font-size: 20px;
            font-weight: bold;
            margin: 0 0 8px;
        }
        width: 80%;
        .projectdetails{
            font-size: smaller;
            display: flex;
            justify-content: start;
            #key{
                width: 80px;
            }
            margin: 5px 0px;
        }
        .badge.info{
            margin-left: 0px;
        }
    }

    .trash-wrapper {
        color: black;
        cursor: pointer;
    }
    
    .trash-wrapper:hover {
        color: red;
    }
}

#project-card:hover {
    box-shadow: 0px 0px 15px color(from $primary srgb r g b / 50%);
    background: color(from $primary srgb r g b / 50%);
    color: white;
}