// project sidebar
.project-sidebar {
  //height: calc(100vh - $navbar-brand-height - $navbar-brand-padding-y);
}

.secondary-panel{
  background-color: rgb(203, 203, 203);
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #000;
}