// project sidebar
.project-sidebar {
  //height: calc(100vh - $navbar-brand-height - $navbar-brand-padding-y);
  .nav {
    .nav-item {
      .nav-link {
        span {
          display: none;
          @include media-breakpoint-up(md) {
            display: inline;
            // className="d-none dmd-inline"
          }
        }
        @include media-breakpoint-down(md) {
          padding: 0.5em 0;
          text-align: center;
        }
      }
    }
  }
}

.secondary-panel {
  padding: 10px;
  border-left: 2px solid #000;
}

.form-frame {
  padding: 30px;
}

form label,
.form-label {
  margin-top: 5px;
  padding: 5px;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #607d8b;
}

form input[type='number'],
form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

form button {
  margin-top: 30px;
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}
