$primary: #444;
$secondary: #3d0748;

.project-link {
    display: block;
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    text-align: center;

  }

  .new-project {
    background-color: #1989ea;
    color: #ffffff;
    font-size: 20px;
    margin: 10px;
  }

  .project-description{
    color: #74797e;
  }
  
  .project-link:hover {
    background-color: #e0e0e0;
  }
  
  .projects-list {
    list-style-type: none; /* Remove bullets */
    padding: 0;
  }

  .projects-title {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    text-align: center;
  }
 
  .btn-create-project{
    margin: 30px;
  }

  .nav-info{
    margin: 5px;
    text-align: center;
  }

  .btn-validation{
    margin-top: 20px;
  }

  .general-info {
    margin-top: 40px;
    background-color: #f8f9fa;
    border: 1px solid #6c757d;
    padding: 1rem; 
    color: #343a40;
    border-radius: 0.25rem;
    text-align: center;
  }

.navbar-text-margins{
  margin-left: 10px;
}

.delete-button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #e60000;
}

.delete-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 76, 76, 0.5);
}

.delete-button:active {
  background-color: #cc0000;
}

.table-statistics {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-statistics th,
.table-statistics td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.table-statistics th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table-statistics tbody tr:hover {
  background-color: #f1f1f1;
}

.table-delimiter {
  background-color: #cccccc;
  font-weight: bold;
  text-align: center;
}

.subsection {
  font-weight: bold;
  color: $secondary;
  padding-top: 20px;
}

.explanations{
  color: #909090;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;

}

.add-feature {
  background-color: #aebfff;
  padding: 10px;
}

.annotation-frame{
  height: 200px;
  font-family: 'Arial', sans-serif;  /* Utilisez une police claire et lisible */
  font-size: 16px;  /* Taille de police agréable pour la lecture */
  line-height: 1.6;  /* Espacement entre les lignes pour une meilleure lisibilité */
  color: #333;  /* Couleur du texte, assez sombre pour un bon contraste */
  
  background-color: #f9f9f9;  /* Fond légèrement gris pour réduire l'éblouissement */
  border: 1px solid #ddd;  /* Bordure fine et discrète */
  border-radius: 8px;  /* Coins légèrement arrondis pour adoucir le cadre */
  padding: 16px;  /* Espacement interne pour que le texte ne soit pas collé aux bords */
  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  /* Légère ombre pour créer de la profondeur */
  max-width: 800px;  /* Limite la largeur pour éviter les lignes trop longues */
  margin: 20px auto;  /* Centre le cadre horizontalement et ajoute de l'espace autour */
  
  white-space: pre-wrap;  /* Préserve les sauts de ligne et les espaces */
  overflow-y: auto; 
}

.custom-details {
  border: 2px solid $primary;
  border-radius: 8px;
  padding: 10px;
  margin: 20px 0; 
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-summary {
  cursor: pointer; /* Pointer cursor on hover */
  font-weight: bold; /* Bold font */
  color: $primary; /* Blue text color */
  margin: 0; /* Remove default margin */
}

.custom-summary:hover {
  color: #0056b3; /* Darker blue on hover */
}