$primary: #444;

.project-link {
    display: block;
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    text-align: center;

  }

  .new-project {
    background-color: #1989ea;
    color: #ffffff;
    font-size: 20px;
    margin: 10px;

  }

  .project-description{
    color: #74797e;
  }
  
  .project-link:hover {
    background-color: #e0e0e0;
  }
  
  .projects-list {
    list-style-type: none; /* Remove bullets */
    padding: 0;
  }

  .projects-title {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    text-align: center;
  }
 
  .btn-create-project{
    margin: 30px;
  }

  .nav-info{
    margin: 5px;
    text-align: center;
  }

  .btn-validation{
    margin-top: 20px;
  }

  .general-info {
    margin-top: 40px;
    background-color: #f8f9fa;
    border: 1px solid #6c757d;
    padding: 1rem; 
    color: #343a40;
    border-radius: 0.25rem;
    text-align: center;
  }

.form-frame {
  padding: 30px;
}

.form-label {
    margin-top: 5px;
    padding: 5px;
    font-weight: bold;
    color: #607d8b;
  }

  .form-button {
    margin-top: 30px;
  }

.form-button:hover {
  background-color: #28a745; 
  border-color: #28a745; 
}

.navbar-text-margins{
  margin-left: 10px;
}