$primary: #444;

.project-link {
    display: block;
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    text-align: center;

  }

  .new-project {
    background-color: #1989ea;
    color: #ffffff;
    font-size: 20px;
    margin: 10px;
  }

  .project-description{
    color: #74797e;
  }
  
  .project-link:hover {
    background-color: #e0e0e0;
  }
  
  .projects-list {
    list-style-type: none; /* Remove bullets */
    padding: 0;
  }

  .projects-title {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    text-align: center;
  }
 
  .btn-create-project{
    margin: 30px;
  }

  .nav-info{
    margin: 5px;
    text-align: center;
  }

  .btn-validation{
    margin-top: 20px;
  }

  .general-info {
    margin-top: 40px;
    background-color: #f8f9fa;
    border: 1px solid #6c757d;
    padding: 1rem; 
    color: #343a40;
    border-radius: 0.25rem;
    text-align: center;
  }

.navbar-text-margins{
  margin-left: 10px;
}


.delete-button {
  background-color: #ff4c4c; /* couleur de fond rouge */
  color: white; /* texte blanc */
  border: none; /* pas de bordure */
  border-radius: 5px; /* coins arrondis */
  padding: 10px 20px; /* espacement intérieur */
  font-size: 16px; /* taille de police */
  cursor: pointer; /* curseur de la souris en mode "pointer" */
  transition: background-color 0.3s ease; /* transition douce pour la couleur */
}

.delete-button:hover {
  background-color: #e60000; /* couleur plus foncée au survol */
}

.delete-button:focus {
  outline: none; /* pas de contour */
  box-shadow: 0 0 0 3px rgba(255, 76, 76, 0.5); /* effet de focus */
}

.delete-button:active {
  background-color: #cc0000; /* couleur encore plus foncée lors du clic */
}


.table-statistics {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}



.table-statistics th,
.table-statistics td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.table-statistics th {
  background-color: #f4f4f4;
  font-weight: bold;
}


.table-statistics tbody tr:hover {
  background-color: #f1f1f1;
}

.table-delimiter {
  background-color: #cccccc;
  font-weight: bold;
  text-align: center;
}