spacy
numpy
fastapi
uvicorn
torch
#git+https://github.com/huggingface/transformers.git #transformers[torch]
transformers>=4.51.0
accelerate
numpy
matplotlib
plotly
pandas
pyarrow
scikit-learn
typing-inspect
typing_extensions
pyyaml
protobuf
python-jose[cryptography]
bcrypt
requests
argparse
datasets
sentence-transformers
sentencepiece
umap-learn
sacremoses
python-multipart
openai
sqlalchemy
python-slugify
mlflow
psutil
openpyxl
fasttext @ git+https://github.com/facebookresearch/fastText.git@main
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0.tar.gz#egg=fr_core_news_sm
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz#egg=en_core_web_sm
#--extra-index-url=https://pypi.nvidia.com
#cuml-cu12==24.10.*
ruff
black
mypy
types-python-jose
types-psutil
pandas-stubs
loky
psycopg2
python-dotenv
aiofiles
bertopic
stopwordsiso
hdbscan
einops